.formHeader {
  text-align: center;
}

.contactForm {
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 3vh;
  max-width: 500px;
  margin-top: 5%;
}

.aboutDiv1 {
  height: 30vh;
}

.aboutDiv2 {
  height: 30vh;
}

.aboutDiv3 {
  height: 30vh;
}

.aboutDiv4 {
  height: 30vh;
}

.projectCard {
  margin: 1vw 0;
  text-align: center;
}

.projButton {
  margin: 0 2%;
}

.homeHeader{
  
}

.navStyle {
  margin: 0 auto;
  width: fit-content;
  max-width: 800px;
  text-align: center;
}

.linkStyle{
  color: black !important;
  font-size: x-large;
  font-family: monospace;
  margin-left: 4vw;
}

.navDiv{
  background-color: whitesmoke;
}

.landingDiv {
  width: fit-content;
  margin: 0 auto;
  font-size: 3vh;
  margin-top: 20vh;
  font-family: monospace;
  font-weight: 700;
}