.formHeader {
  text-align: center;
}

.contactForm {
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 3vh;
  max-width: 500px;
  margin-top: 5%;
}

.homeDiv1 {
  height: 30vh;
}

.homeDiv2 {
  height: 30vh;
}

.homeDiv3 {
  height: 30vh;
}

.homeDiv4 {
  height: 30vh;
}

.projectCard {
  margin: 1vw 0;
  text-align: center;
}

.projButton {
  margin: 0 2%;
}