.App {
  font-family: "Courier New", Courier, monospace;
}

.formHeader {
  text-align: center;
}

.contactForm {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 3vh;
  max-width: 500px;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 2px 2px lightgray;
}

.aboutDiv {
  margin: 0 auto 2vh auto;
  height: fit-content;
  width: 100%;
  max-width: 95vw;
  background-color: white;
  padding: .5em;
  border-radius: 20px;
  display: table;
}

#BrigsbyMeImg {
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  float: right;
}

.aboutColumn1 {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  height: max-content;
  padding: .5em;
  overflow: scroll;
}

.aboutColumn2 {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding: .5em;
}

#aboutDivCarousel{
  margin: 0 auto 2vh auto;
  height: 30vh;
  width: 100%;
  max-width: 95vw;
  background-color: white;
  padding: .5em;
  border-radius: 20px;
  display: table;
}

.aboutCarColumn1 {
  vertical-align: middle;
  width: 50%;
  min-width: 300px;
  height: max-content;
  padding: .5em;
  margin: 0 auto;
}

.aboutCarColumn2 {
  width: 100%;
  padding: .5em;
}

#aboutMilColumn1{
  padding: 1em;
  max-height: 35vh;
  overflow: scroll;
}

#cardDiv{
  width: 95vw;
  margin: 0 auto;
}

.aboutCarImg {
  border-radius: 10px;
}

.outdoorImg {
  border-radius: 10px;
}

.projectCard {
  margin: 1vw 0;
  text-align: center;
}

.projButton {
  margin: 0 2%;
}

#projHeader{
  background-color: white;
  width: 95vw;
  padding: 1em;
  margin: 0 auto;
  border-radius: 20px;
}

#homeHeader{
  width: 95vw;
  background-color: white;
  padding: 1em;
  margin: 0 auto 2vh auto;
  border-radius: 20px;
  display: table;
}

#homeCol2{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

#homeCol1{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

#homeHeaderImg{
  max-width: 300px;
  float: right;
  width: 100%;
  border-radius: 10px;
}

.homeDiv{
  width: 95vw;
  background-color: white;
  padding: 1em;
  margin: 0 auto;
  border-radius: 20px;
  margin: 0 auto 2vh auto;
  max-height: 45vh;
  overflow: scroll;
}

#collapseButton{
  background-color: whitesmoke;
}

.navStyle {
  margin: 0 auto;
  text-align: center;
}

.linkStyle{
  color: black !important;
  font-size: x-large;
  font-family: monospace !important;
  margin-left: 7vw;
  background-color: whitesmoke;
  width: fit-content;
}

.navDiv{
  /* width: 100%; */
}

.landingDiv {
  width: fit-content;
  margin: 0 auto;
  font-size: 3vh;
  margin-top: 40vh;
  font-family: monospace !important;
  font-weight: 700;
}

#contactDiv{
  width: 95%;
  height: fit-content;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  margin: 5vh auto;
}

#contactInfo {

}

#socialLinks{
  width: fit-content;
  min-width: 200px;
  margin: 0 auto;
}

.mediaIcons {
  width: 40px;
  margin-left: 2vw;
}

#noMatch{
  background-color: white;
  width: fit-content;
  margin: 20vh auto;
  padding: 1em;
  border-radius: 20px;
}

#resumePage {
  width: 95vw;
  max-width: 500px;
  margin: 0 auto;
}

#resume {
  width: 100%;
}